In [ ]:
-- TABLA CURSO
CREATE TABLE IF NOT EXISTS CURSO(
    ID_Curso VARCHAR(100) PRIMARY KEY,
    ID_Promocion VARCHAR(100),
    ID_Campus VARCHAR(100),
    ID_Vertical VARCHAR(100),
    Descripcion VARCHAR(100),
    FOREIGN KEY (ID_Campus) REFERENCES CAMPUS(ID_Campus),
    FOREIGN KEY (ID_Promocion) REFERENCES PROMOCION(ID_Promocion),
    FOREIGN KEY (ID_Vertical) REFERENCES VERTICAL(ID_Vertical)
);
-- TABLA PROMOCION
CREATE TABLE IF NOT EXISTS PROMOCION (
    ID_Promocion VARCHAR(100) PRIMARY KEY,
    Mes VARCHAR(100),
    Fecha_Promocion DATE
);
-- TABLA VERTICAL
CREATE TABLE IF NOT EXISTS VERTICAL (
    ID_Vertical VARCHAR(100) PRIMARY KEY,
    Descripcion VARCHAR(100)
);
-- TABLA PROFESOR_CURSO
CREATE TABLE IF NOT EXISTS PROFESOR_CURSO (
    ID_Staff VARCHAR(100),
    ID_Curso VARCHAR(100),
    FOREIGN KEY (ID_Staff) REFERENCES STAFF(ID_Staff),
    FOREIGN KEY (ID_Curso) REFERENCES CURSO(ID_Curso)
);
-- TABLA STAFF
CREATE TABLE IF NOT EXISTS STAFF (
    ID_Staff VARCHAR(100) PRIMARY KEY,
    Nombre VARCHAR(100),
    Rol VARCHAR(100),
    Modalidad VARCHAR(100)
);
-- TABLA PROYECTO
CREATE TABLE IF NOT EXISTS PROYECTO (
    ID_Proyecto VARCHAR(100) PRIMARY KEY,
    ID_Vertical VARCHAR(100),
    FOREIGN KEY (ID_Vertical) REFERENCES VERTICAL(ID_Vertical)
);
-- TABLA ALUMNO
CREATE TABLE IF NOT EXISTS ALUMNO (
    ID_Alumno VARCHAR(100) PRIMARY KEY,
    ID_Curso VARCHAR(100),
    Nombre VARCHAR(100),
    Mail VARCHAR(100),
    FOREIGN KEY (ID_Curso) REFERENCES CURSO(ID_Curso)
);
-- TABLA ALUMNO_PROYECTO
CREATE TABLE IF NOT EXISTS ALUMNO_PROYECTO (
    ID_Alumno VARCHAR(100),
    ID_Proyecto VARCHAR(100),
    Nota VARCHAR(100),
    FOREIGN KEY (ID_Proyecto) REFERENCES PROYECTO(ID_Proyecto),
    FOREIGN KEY (ID_Alumno) REFERENCES ALUMNO(ID_Alumno)
);
-- TABLA CAMPUS
CREATE TABLE IF NOT EXISTS CAMPUS (
    ID_Campus VARCHAR(100) PRIMARY KEY,
    Localidad VARCHAR(100)
);